*{
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --font-heading: 'Unbounded', sans-serif;
  --font-body: 'Manrope', sans-serif; /* or whatever body font you prefer */
}


h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  overflow-x: hidden;
}
